.heart {
  background-color: antiquewhite;
}

.beat .heart img {
  animation: animation-heart 2s infinite;
}

@keyframes animation-heart {
  0%,
  100% {
    transform: scale(1);
  }

  20% {
    transform: scale(0.6);
  }

  40% {
    transform: scale(0.8);
  }

  60% {
    transform: scale(0.6);
  }

  80% {
    transform: scale(1);
  }
}
